.feature {
    margin: auto;
}

/* .password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.toggle-password i {
    font-size: 20px;
}

/* Adjust padding to accommodate the eye icon */
/* input[type="password"] {
    padding-right: 30px; 
} */

/* Hide the default browser-generated eye icon */
/* #password::-webkit-input-placeholder {
    visibility: hidden !important;
}

#password::-webkit-text-security-disc {
    visibility: hidden !important;
}  */